@import "tailwindcss";

:root {
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
}

body {
  @apply bg-white text-black;
  font-family: var(--font-outfit);
}

/* Dark mode global */
.dark body {
  @apply bg-[#11001f] text-white;
}
