@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
}

body {
  font-family: var(--font-outfit);
}